section.project {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxs);
  padding: var(--padding-m);
  flex-wrap: wrap;
}
section.project>h2 {
  font-size: 40px;
}

section.project>div {
display: flex;
width:100%;
  padding: var(--padding-s);
gap: var(--gap-s);
 scrollbar-color: var(--color-secondary) rgb(254, 41, 113,0.2);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

section.project article {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  padding: var(--padding-s)var(--padding-xs) var(--padding-m) var(--padding-xs);
  flex: 0 0 100%;
  scroll-snap-align: center;
}

article>div> h4 {
height:25%;
}

article>div> p {
  font-size:12px;
}
article>div>a {
  height:15%;
  height: 5%;
}
article>div>a>button {
  padding:var(--padding-xxs) var(--padding-s);
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--color-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
article>div>a>button:hover {
  padding:var(--padding-xxs) var(--padding-m);
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--color-light);
  background-color: var(--color-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px){
    section.project> h2 {
      font-size: 20px;
}
}
@media (max-width:1400px) and (min-width:1000px){
      section.project> h2 {
  font-size: 60px;
}
}
@media (max-width:2000px) and (min-width:1400px) {
      section.project> h2 {
  font-size: 80px;
}
}