section.project {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  padding: var(--padding-m);
  flex-wrap: wrap;
}

section.project>div {
display: flex;
width:100%;
overflow-x: scroll;
scroll-behavior: smooth;
  padding: var(--padding-m) 0;
justify-content: center;
align-items: start;
gap: var(--gap-s);
 scrollbar-color: var(--color-secondary) rgb(254, 41, 113,0.2); */
}
/* section.project>div::-webkit-scrollbar {
background-color: transparent;
} */
section.project article {
  min-width: 250px;
  max-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}

article>img {
  width: 90%;
}

article>a>button {
  padding:var(--padding-xxs) var(--padding-s);
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--color-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
article>a>button:hover {
  padding:var(--padding-xxs) var(--padding-m);
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  color: var(--color-light);
  background-color: var(--color-secondary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}