section.contact {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  padding: var(--padding-s);
  flex-wrap: wrap;
}
section.contact>h2 {
  font-size: 40px;
}
section.contact>div{
   display: flex;
   flex-direction: row;
   gap: var(--gap-xs);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.divContact>div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  justify-content: center;
  align-items: start;
  width: 40%;
}
section>div.divContact>img{
  width: 50%;
  border-radius: 20px;
}
article{
  display: flex;
  flex-direction: column;
  padding: var(--padding-s);
  width: 100px;
  border-radius: 20px;
min-height: 200px;
max-height: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  background-color: rgb(254, 41, 113,0.2);
}
article p {
  margin-bottom: var(--margin-xxs);
}
@media (max-width: 500px){
    section.contact> h2 {
      font-size: 20px;
}
div.divContact>div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  justify-content: center;
  align-items: center;
  width: 100%;
}
section>div.divContact>img{
  width: 100%;
}
}
@media (max-width:1400px) and (min-width:1000px){
      section.contact> h2 {
  font-size: 60px;
}
}
@media (max-width:2000px) and (min-width:1400px) {
      section.contact> h2 {
  font-size: 80px;
}
}